body{
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 0;
}

.admin-header{
    background: #3b0066;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-logout{
    background: red;
    padding: 10px 18px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.panel-container{
    margin: 40px auto;
    width: 90%;
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 12px;
}

.tabla-usuarios{
    width: 100%;
    border-collapse: collapse;
}

.tabla-usuarios th, .tabla-usuarios td{
    border-bottom: 1px solid #555;
    padding: 12px;
    text-align: left;
}

.tabla-usuarios button{
    padding: 8px 12px;
    border: none;
    background: #ff3b3b;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
